body {
    margin: 0;
    color: #31c9c9;
    background-color: rgb(5, 0, 40);
    font-size: 1em;
    padding: 2vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}


/* ------------GIRD-------------- */

.container > * {
    padding: 20px;
    border: 1px solid;
    border-color: #124747;
    border-radius: 1vh;
    background-color: rgb(40, 40, 40);
}

.header{
    grid-area: header;
    /* font-family: "Vladimir Script"; */
}

.content {
    grid-area: content;
}

.navbar{
    grid-area: navbar;
}
.listaBotones{
    margin-left: 4.5%;
    margin-right: 6%;
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: #31c9c9;
}


.sidebar{
    grid-area: sidebar;
}

.footer{
    grid-area: footer;
}

.container{
    display: grid;
    grid-gap: 1vw;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "header"
    "navbar"
    "content"
    "sidebar"
    "footer";
}

nav ul {
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link{
    width: 89px;
    text-decoration: none
}
.boton{
    text-decoration: none;
    background-color: #31c9c9;
    width: 89px;
    padding: 1vh;
    border-radius: 1vh;
    font-weight: 700;
    color: black;
}
.boton:hover{
    text-decoration: none;
    background-color: black;
    width: 89px;
    padding: 1vh;
    border-radius: 1vh;
    font-weight: 700;
    color: #31c9c9;
}
/* @media (min-width: 500px){
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    .container {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "header  header"
        "navbar     navbar"
        "content  content "
        "sidebar sidebar"
        "footer      footer";
    }

}

@media (min-width: 700px) {
    .nav ul {
        flex-direction: column;
    }
    .container {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
        "header  header"
        "navbar navbar"
        "content sidebar"
        "footer footer";
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
 */

@media (min-width: 500px){
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    .container {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "header  header"
        "navbar     navbar"
        "content  content "
        "sidebar sidebar"
        "footer      footer";
    }

}

@media (min-width: 700px) {
    .nav ul {
        flex-direction: column;
    }
    .container {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
        "header  header"
        "navbar navbar"
        "content sidebar"
        "footer footer";
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 1140px) {
    .nav ul {
        flex-direction: column;
    }
    .container {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
        "header  header"
        "navbar navbar"
        "content sidebar"
        "footer footer";
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 320px) {
    .nav ul {
        flex-direction: column;
    }
    .container {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
        "header  header"
        "navbar navbar"
        "content content"
        "sidebar sidebar"
        "footer footer";
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

