.composicionTotal{
    position:relative;
    margin-top: 2vh;
    /* border-color: rgb(0, 0, 0); */
    border: solid black 2px;
    /* border-radius: 0.5vh; */
    width: 100%;
    height:auto;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 3vh;
}

.background1{
max-width: 99%;
max-height: 99%;
}

.topCertificado{
    top: 17%;

    max-width: 100%;
    position: absolute;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 185%;
}

.footerCertificado{
    top: 75%;
    max-width: 100%;
    position: absolute;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-size: 200%;
    gap:30vw;
}

.titulo{
    font-size: 75%;
    margin-bottom: 38px;
}
.texto{
    margin: 40px 0px 42px;
}
.nombre{
    font-family: "Vladimir Script";
    font-size: 80px;
}
.ciudadPaisFecha{
    position: relative;
    height: auto;
    gap:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.fecha{
margin: 0;
}
.ciudad{
margin: 0;
}
.responsable{
    background-color: white;
    border:solid black 1px;
    padding: 0;
}
.responsable2{
    margin: 1vh;
}
.tipo{
    margin-bottom: 1vw;
    margin-top: 0vw;
}



@media(max-width:1440px){
    .tipo{
        margin-top: 8%;
    }

    .nombre{
        font-size: 75px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .titulo{
        font-size: 70%;
    }
    .footerCertificado{
        gap:32vh;
        }
    .topCertificado{
        top: 20%;
    }

}

@media(max-width:1024px){
    .tipo{
        margin-top: 0%;
    }

    .nombre{
        font-size: 50px;
    }
    .topCertificado{
        top: 12%;
    }
    .instituto{
        margin-top: 0;
    }
    .texto{
        margin-top: 20px;
    }
    .footerCertificado{
        font-size: 120%;
        gap:32vw;
        max-width: 90%;
    }
}

/* ----------------a apartir de aca no me funciona mas el responsive------------------- */

@media(min-width:768px){
    .titulo{
        margin-bottom: 40px;
    }
    .texto{
        margin: 20px 0px 42px;
    }
    .footerCertificado{
        
        font-size: 100%;
        gap:28vw;
    }
    .topCertificado{
        top: 11%;
    }

}

@media(min-width:425px){
    .footerCertificado{
        font-size: 90%;
        top: 70%;
    }
    .ciudadPaisFecha{
        margin: 0;
    }
    .responsable{
        margin: 0;
    }
    .nombre{
        margin-top: 0%;
        margin-bottom: 0%;
    }
}
@media(min-width:375px){
    .footerCertificado{
        font-size: 70%;
        gap:26vw;
        top: 72%;
        padding: 0;
    }
    .ciudadPaisFecha{
        margin: 0;
    }
    .responsable{
        margin: 0;
    }
}

@media(min-width:320px){
    .footerCertificado{
        font-size: 70%;
        gap:26vw;
        top: 75%;
        padding: 0;
    }
    .ciudadPaisFecha{
        margin: 0;
    }
    .responsable{
        margin: 0;
    }
}
